footer {
    background: $color-dark-gray;
    color: $color-accent-white;
    .footer-company {
        padding: 71px 0 59px 0;
        width: 190px;
        max-width: 100%;
        @include breakpoint(medium) {
            width: auto;
            padding: 30px 0;
        }
        span {
            font-weight: bold;
            line-height: 1;
            letter-spacing: 0.26px;
            text-transform: capitalize;
            margin-bottom: 38px;
            display: block;
            @include breakpoint(medium) {
                margin-bottom: 10px;
            }
        }
        a {
            font-size: 17px;
            line-height: 1.74;
            letter-spacing: 0.17px;
            margin: 12px 94px 0 0;
            color: $color-accent-white;
            transition: 0.5s ease-in-out;
        }
        #domain-link {
            margin-top: 30px;
            display: block;
            @include breakpoint(medium) {
                margin-top: 10px;
            }
        }
    }
    .footer-sitemap {
        padding: 70px 0 66px 0;
        @include breakpoint(medium) {
            padding: 0;
        }
        span {
            font-size: 17px;
            font-weight: bold;
            line-height: 1.5;
            text-transform: capitalize;
        }
        a {
            line-height: 1.74;
            letter-spacing: 0.17px;
            font-size: 17px;
            color: $color-accent-white;
            display: block;
            transition: 0.5s ease-in-out;
        }
    }
    #footer-site1 {
        @include breakpoint(medium) {
            margin-bottom: 30px;
        }
    }
    #footer-site2 {
        margin-left: -20px;
        @include breakpoint(medium) {
            padding-bottom: 30px;
            margin-left: 0;
        }
    }
    .footer-copyright {
        padding: 57px 0 64px 0;
        margin-right: -27.5px;
        @include breakpoint(medium) {
            margin-right: 0;
            padding: 30px 0;
        }
        span {
            font-size: 17px;
            display: block;
            margin: 35px 0 31px 12.5px;
            @include breakpoint(medium) {
                margin-left: 0;
            }
        }
        .social-icon {
            a {
                background: white;
                color: black;
                padding: 5px 10px 5px 10px;
                font-size: 14px;
                margin: 0 12.5px;
                transition: 0.5s ease-in-out;
                &:hover {
                    color: $color-pink;
                    background-color: black;
                }
                &:first-child {
                    @include breakpoint(medium) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    a:hover {
        color: $color-pink;
    }
    .back-top-arrow {
        position: relative;
        opacity: 0;
        visibility: hidden;
        background-color: $color-dark-gray;
        border-radius: 50%;
        position: fixed;
        bottom: 2%;
        right: 2%;
        width: 80px;
        height: 80px;
        z-index: 99999;
        @include breakpoint(small) {
            width: 50px;
            height: 50px;
        }
        a {
            font-size: 30px;
            color: $color-light-pink;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
    }
}
