/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  /* Large Devices, Wide Screens */
  @if $point == larger {
    @media (min-width: 2020px) {
      @content;
    }
  }
  /* Large Devices, Wide Screens */
  @if $point == wider {
    @media (max-width: 1600px) {
      @content;
    }
  }
  /* Laptop  1366*/
  @if $point == laptop {
    @media (max-width: 1366px) {
      @content;
    }
  }
  /* Medium Devices, Desktops */
  @else if $point == wide {
    @media (max-width: 1199px) {
      @content;
    }
  }
  /* Medium Devices, Desktops */
  @else if $point == medium {
    @media (max-width: 991px) {
      @content;
    }
  }
  /* Small Devices, Tablets */
  @else if $point == small {
    //@media (max-width : 768px) { @content ; }
    @media (max-width: 767px) {
      @content;
    }
  }
  /* Extra Small Devices, Phones */
  @else if $point == smaller {
    @media (max-width: 567px) {
      @content;
    }
  }
  /* Extra Small Devices, Phones */
  @else if $point == extrasmall {
    @media (max-width: 479px) {
      @content;
    }
  }
  /* Custom, iPhone Retina */
  @else if $point == iPhone5 {
    @media (max-width: 374px) {
      @content;
    }
  }
}

/*********************
Transition
*********************/

@mixin ease {
  transition: 0.3s ease-in-out;
}
@mixin positionCenter {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

//button hover
@mixin button-animation-hover() {
  box-shadow: inset 18rem 0 0 0 $color-dark-gray;
}

//line animation
@mixin line-animation() {
  content: "";
  height: 2px;
  display: block;
  background: $color-pink;
  width: 0%;
  transition: width 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  margin-left: -20px;
}

@mixin line-animation-hover() {
  width: 100%;
  transition: width 0.5s ease-in-out;
}
