$font-family-opensans: "Open Sans";
$color-accent-white:#fff;
$color-primary-black:#000000;
$color-dark-gray: #484f5b;
$color-gray:#555555;
$color-light-gray:#efefef;
$color-light-pink:#e6c8c3;
$color-pink:#e5ccc6;


   